.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space);
}

.switcher > * {
  flex-grow: 1;
  flex-basis: calc((var(--threshold) - 100%) * 999);
}

.limit4 > :nth-last-child(n + 5),
.limit4 > :nth-last-child(n + 5) ~ *,
.limit3 > :nth-child(n + 4),
.limit3 > :nth-child(n + 4) ~ *,
.limit2 > :nth-child(n + 3),
.limit2 > :nth-child(n + 3) ~ * {
  flex-basis: 100%;
}
