.frame {
  aspect-ratio: var(--frame-ratio);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--frame-radius, 0);
}

.frame > * {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}
