.sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sidebar-space, 0);
}

.left > :first-child,
.right > :last-child {
  flex-basis: var(--side-width, auto);
  flex-grow: 1;
}

.left > :last-child,
.right > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: var(--minimum, 50%);
}

.reverse {
  flex-direction: row-reverse;
}
