.gaze-sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sidebar-space);
  align-items: var(--sidebar-align);
}

.gaze-sidebar-left > :first-child,
.gaze-sidebar-right > :last-child {
  flex-basis: var(--sidebar-width);
  flex-grow: 1;
}

.gaze-sidebar-left > :last-child,
.gaze-sidebar-right > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: var(--sidebar-min);
}

.gaze-sidebar-reverse {
  flex-direction: row-reverse;
}
