.gaze-grid {
  display: grid;
  grid-gap: var(--grid-space);
}

@supports (width: min(var(--grid-min), 100%)) {
  .gaze-grid {
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(var(--grid-min), 100%), 1fr)
    );
  }
}
