.gaze-switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--switcher-space);
  align-items: var(--switcher-align);
}

.gaze-switcher > * {
  flex-basis: calc((var(--switcher-threshold) - 100%) * 999);
  flex-grow: 1;
}

.gaze-switcher-limit-4 > :nth-last-child(n + 5),
.gaze-switcher-limit-4 > :nth-last-child(n + 5) ~ *,
.gaze-switcher-limit-3 > :nth-child(n + 4),
.gaze-switcher-limit-3 > :nth-child(n + 4) ~ *,
.gaze-switcher-limit-2 > :nth-child(n + 3),
.gaze-switcher-limit-2 > :nth-child(n + 3) ~ * {
  flex-basis: 100%;
}

.gaze-switcher-reverse {
  flex-direction: row-reverse;
}
