.separator {
  height: 0;
  margin: 0;
  border-style: var(--separator-variant, "solid");
  border-width: 0;
  border-top-color: var(--separator-color, var(--gaze-color-text-default));
  border-top-width: var(--separator-thickness, var(--gaze-border-width-px));
}

[data-invert="true"] .separator {
  border-top-color: var(--separator-color, var(--gaze-color-text-inverted));
}
