.anchor {
  color: inherit;
  font-family: var(--gaze-font-base);
  text-decoration: underline;
  border-radius: var(--gaze-size-radius-sm);
  cursor: pointer;
}

.anchor:hover {
  text-decoration: none;
}

.anchor:focus {
  outline: var(--gaze-size-border-px) solid var(--gaze-color-outline-default);
  outline-offset: 0.25em;
}
