.anchor {
  color: inherit;
  text-decoration: underline;
  border-radius: var(--size-radius-sm);
  cursor: pointer;
}

.anchor:hover {
  text-decoration: none;
}

.anchor:focus {
  outline: var(--size-space-px) solid
    var(--outline-color, var(--color-cyan-500));
  outline-offset: 0.25em;
}
