.text {
  margin: 0;
  color: var(--text-color, var(--gaze-color-text-default));
  font-weight: var(--text-weight, var(--gaze-weight-normal));
  font-size: var(--text-size, var(--gaze-size-font-base));
  font-family: var(--gaze-font-base);
  line-height: var(--text-leading, var(--gaze-leading-normal));
}

[data-invert="true"] .text {
  color: var(--gaze-color-text-inverted);
}
