.text {
  margin: 0;
  color: var(--text-color, var(--gaze-color-text-default));
  font-weight: var(--text-weight, var(--gaze-weight-normal));
  font-size: var(--text-size, var(--gaze-font-size-base));
  font-family: var(--gaze-font-family-base);
  line-height: var(--text-leading, var(--gaze-leading-normal));
}

[data-invert="true"] .text {
  color: var(--gaze-color-text-inverted);
}

em.text,
i.text {
  font-style: italic;
}

strong.text,
b.text {
  font-weight: var(--gaze-weight-bold);
}

u.text {
  text-decoration: underline;
}
