.gaze-center {
  box-sizing: content-box;
  max-inline-size: var(--center-width);
  margin-inline: auto;
  padding-inline: var(--center-gutter);
}

.gaze-center-text {
  text-align: center;
}

.gaze-center-intrinsic {
  display: flex;
  flex-direction: column;
  align-items: center;
}
