.title {
  position: relative;
}

.title::after,
.title::before,
.heading::after,
.heading::before {
  content: "";
  display: block;
  position: absolute;
  background: var(--text-color);
}

.title::before {
  height: 1px;
  top: 50%;
  left: 0;
  right: 0;
}

.title::after {
  top: 25%;
  bottom: 25%;
  right: 0;
  width: 1px;
}

.heading {
  background: var(--color-white);
  position: relative;
  display: inline-flex;
  padding: 0 calc(var(--size-space-100) - 1px);
  border-width: 0 1px;
  text-transform: uppercase;
}

.heading::before,
.heading::after {
  width: 1px;
  top: 25%;
  bottom: 25%;
}

.heading::before {
  left: 0;
}

.heading::after {
  right: 0;
}
