.icon > svg {
  height: 0.75em;
  height: 1cap;
  width: 0.75em;
  width: 1cap;
  display: inline-block;
}

.icon {
  align-items: center;
  display: inline-flex;
  color: var(--color, var(--text-color));
  font-size: var(--icon-size, inherit);
  font-family: var(--body-font, var(--font-sans));
  font-weight: var(--body-weight, var(--weight-normal));
}

.withText {
  align-items: baseline;
}

.withText > svg {
  margin-inline-end: var(--icon-space, 0.5em);
}

[data-invert="true"] .icon {
  color: var(--color-white);
}
