.gaze-icon > svg {
  display: inline-block;
  width: 0.75em;
  width: 1cap;
  height: 0.75em;
  height: 1cap;
}

.gaze-icon {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  color: var(--icon-color, var(--gaze-color-text-default));
  font-weight: var(--gaze-weight-normal);
  font-size: var(--icon-size);
  font-family: var(--gaze-font-family-base);
}

.gaze-icon-with-text {
  align-items: baseline;
}

.gaze-icon-with-text > svg {
  margin-inline-end: var(--icon-space);
}

[data-invert="true"] .gaze-icon {
  color: var(--gaze-color-text-inverted);
}
