.icon > svg {
  display: inline-block;
  width: 0.75em;
  width: 1cap;
  height: 0.75em;
  height: 1cap;
}

.icon {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  color: var(--color, var(--text-color));
  font-weight: var(--body-weight, var(--weight-normal));
  font-size: var(--size);
  font-family: var(--body-font, var(--font-sans));
}

.with-text {
  align-items: baseline;
}

.with-text > svg {
  margin-inline-end: var(--space);
}

[data-invert="true"] .icon {
  color: var(--color-white);
}
