.gaze-box {
  padding: var(--box-py) var(--box-px);
  background: var(--box-bg);
  border-color: var(--box-bc);
  border-style: var(--box-bs);
  border-width: var(--box-bw);
  border-radius: var(--box-rad);
}

.gaze-box,
.gaze-box > * {
  --box-py: 0;
  --box-px: 0;
  --box-bg: transparent;
  --box-bc: transparent;
  --box-bs: solid;
  --box-bw: 0;
  --box-rad: 0;
}
