.box {
  padding: var(--box-py) var(--box-px);
  background: var(--box-bg);
  border-radius: var(--box-rad);
}

@media (prefers-contrast: more) {
  .box {
    outline: 0.0625rem solid var(--gaze-color-black);
    outline-offset: -0.0625rem;
  }
}
