.box {
  padding: var(--py) var(--px);
  background: var(--bg);
  border-radius: var(--rad);
}

@media (prefers-contrast: more) {
  .box {
    outline: 0.0625rem solid var(--color-black);
    outline-offset: -0.0625rem;
  }
}
